* {
    padding: 0;
    margin: 0;
}
body {
    background: url("img/university.jpg") center;
    font-family: sans-serif;
}

#login_box {
    width: 370px;
    background: #000;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 50px 30px;
}

#user_icon {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}
h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    color: black;
}
#login_box p {
    margin: 0;
    padding: 0;
    font-weight: bold;
}
#login_box input {
    width: 100%;
    margin-bottom: 20px;
}
#login_box input[type="number"], input[type="password"] {
    border: none;
    border-bottom: 1px solid #ffffff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #ffffff;
    font-size: 16px;
}
#login {
    border: none;
    outline: none;
    height: 40px;
    background: rebeccapurple;
    color: #ffffff;
    font-size: 18px;
    border-radius: 20px;
}
#login:hover {
    cursor: pointer;
    background: gray;
    color: #000000;
}

main {
    width: 90%;
    height: auto;
    margin: 40px auto auto;
}
table {
    width: 100%;
    margin: 20px 0 2px 0;
    table-layout: auto;
    color: #757575;
    text-align: center;
    background: #ffffff;
    border-collapse: collapse;
    border-spacing: 0;
}
table tr {
    border: 1px solid #757575;
}
table tr th {
    background-color: #f0f0f0;
}
table tr th, td {
    padding: 10px 5px;
}
td:first-child {
    width: 100px;
}
table input[type="checkbox"] {
    width: 20px;
    height: 20px;
    float: left;
    margin-left: 30px;
    cursor: pointer;
}
